<div style="text-align:center">
    <h2><a href="https://www.lijiaocn.com" style="color:#afa790">www.lijiaocn.com</a></h2>
</div>

<div style="text-align:center">
<!-- 250x250 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-8176866190626448"
     data-ad-slot="9490087185"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div style="text-align:center">
    <h4><a href="https://www.lijiaocn.com/linux" style="color:#afa790">《Linux使用手册》</a></h4>
    <h4><a href="https://www.lijiaocn.com/programming" style="color:#afa790">《编程速查手册》</a></h4>
    <h4><a href="https://www.lijiaocn.com/nginx" style="color:#afa790">《Nginx & Openresty》</a></h4>
</div>
